= simple_form_for :poll do |f|
    = f.input :title, label: "Poll Title"
    = simple_fields_for :options do |opt|
        = opt.input :title, placeholder: "Type new option"
    = f.button :submit, "Submit"
