%section.max-h-screen
  .hero.bg-base-200.pb-40
    .hero-content.flex-col
      %ul.steps.steps.vertical.py-4
        %li.step.step-primary Create Poll
        %li.step.step-primary Add Answers
        %li.step Send it out
      .text-center.lg:text-left
        %p.text-lg Fine-tune Your Poll
      .card.min-w-screen.shadow-2xl.bg-base-100
        .card-body
          .form-control.grid.grid-rows-1
            = simple_form_for @poll do |f|
              = f.hidden_field :id, value: @poll.id
              %label.label Poll Title
              .text-center.lg:text-left
                = f.input_field :title, placeholder: "Poll Title", class: "text-2xl base-200 bg-base-100 hover:bg-base-200"
              -# = render partial: 'polls/options', collection: @poll.options, as: :option
              .grid.grid-rows-1.py-2
                %p Options
                = f.simple_fields_for :options do |option_form|
                  = option_form.hidden_field :poll_id, value: @poll.id
                  .py-2.shadow-md
                    %label.input-group
                      = option_form.input_field :title, placeholder: "Type new option", class: "input input-bordered w-full hover:input-primary"
                      %label.swap
                        = option_form.check_box :_destroy, class: "bg-base-200"
                        %span.swap-off.label-text.py-3.bg-primary.rounded-md
                          %svg{:fill => "none", :height => "24", :stroke => "#000000", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}>
                            %polyline{:points => "20 6 9 17 4 12"}
                        %span.swap-on.label-text.bg-secondary
                          %svg{:fill => "none", :height => "24", :stroke => "#000000", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                            %polyline{:points => "3 6 5 6 21 6"}
                            %path{:d => "M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"}
                            %line{:x1 => "10", :x2 => "10", :y1 => "11", :y2 => "17"}
                            %line{:x1 => "14", :x2 => "14", :y1 => "11", :y2 => "17"}                        %span.swap-off.label-text
              .btn-group
                = f.button :submit, "Submit", class: "btn bg-base-200"
                %button.btn.bg-base-200.swap.swap-rotate.flex{:onclick => "this.classList.add('swap-active'); navigator.clipboard.writeText('#{@poll.friendly_id}'); this.firstChild.textContent = 'Copied ID'", :type => "button"}
                  Tap to Poll ID
                  %svg.swap-off{"aria-hidden" => "true", :height => "1em", :preserveaspectratio => "xMidYMid meet", :role => "img", :viewbox => "0 0 384 512", :width => "0.75em", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M384 112v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h80c0-35.29 28.71-64 64-64s64 28.71 64 64h80c26.51 0 48 21.49 48 48zM192 40c-13.255 0-24 10.745-24 24s10.745 24 24 24s24-10.745 24-24s-10.745-24-24-24m96 114v-20a6 6 0 0 0-6-6H102a6 6 0 0 0-6 6v20a6 6 0 0 0 6 6h180a6 6 0 0 0 6-6z", :fill => "currentColor"}
                  %svg.swap-on{"aria-hidden" => "true", :height => "1em", :preserveaspectratio => "xMidYMid meet", :role => "img", :viewbox => "0 0 384 512", :width => "0.75em", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24s-24-10.7-24-24s10.7-24 24-24zm121.2 231.8l-143 141.8c-4.7 4.7-12.3 4.6-17-.1l-82.6-83.3c-4.7-4.7-4.6-12.3.1-17L99.1 285c4.7-4.7 12.3-4.6 17 .1l46 46.4l106-105.2c4.7-4.7 12.3-4.6 17 .1l28.2 28.4c4.7 4.8 4.6 12.3-.1 17z", :fill => "currentColor"}
