!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PollAnywhereRedux

    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

  %body
    %nav.navbar
      .navbar-brand
        %a.navbar-item
          = image_tag "icon.svg"
        %h1.navbar-item Poll Redux
    = yield
