!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PollAnywhereRedux

    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

  %body.min-h-screen
    .navbar.bg-base-100
      .navbar-start
        %a.btn.btn-ghost{:href => "/"}
          = image_tag "icon", class: "img", class: "mr-3 h-14 sm:h-9"
      .navbar-center.text-center
        %a.btn.btn-ghost.normal-case.text-xl{:href => "/"} Poll Anywhere Redux
      .navbar-end
    = yield
